@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    padding: 50px 0 43px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item + .menu__list-item {
        padding-left: 30px;
    }

    &__list-link {
        padding-bottom: 5px;
        color: $blue;
        transition: all 0.3s;

        &:hover {
            border-bottom: 1px solid $blue;
        }

        @extend %Rubik-500;
    }
}

.user-nav {
    display: flex;

    &__btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        &:hover {
            background-color: $bali;
        }
    }

    &__btn--search {
        margin-right: 20px;
        border: none;

        &:hover {
            background-color: $bali;
        }
    }

    &__double-btn {
        position: relative;
        background-color: $apricot;

        &:hover {
            background-color: $manhattan;
        }
    }

    &__btn--heart {
        padding: 12px 30px 12px 41px;
        border-radius: 30px 0 0 30px;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 9px;
            z-index: 1;
            width: 1px;
            height: 32px;
            background-color: $oasis;
        }
    }

    &__btn--cart {
        padding: 12px 41px 12px 30px;
        border-radius: 0 30px 30px 0;
    }

    &__wrap {
        position: relative;
    }

    &__num {
        position: absolute;
        left: 11px;
        top: -6px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-size: 10px;
        background-color: $white;
    }

    &__btn--catalog {
        margin-left: 20px;
        background-color: $casper;
    }
}

footer a:hover {
    color: $bali;
    transition: color 0.5s;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
    border-bottom: 1px solid $mystic;
    font-size: 14px;
    color: $boulder;

    &__contact {
        width: 100%;
        max-width: 270px;
    }

    &__services {
        width: 100%;
        max-width: 120px;
    }

    &__account {
        width: 100%;
        max-width: 100px;
    }

    &__newsletter {
        width: 100%;
        max-width: 270px;
    }

    &__logo {
        display: block;
        margin-bottom: 30px;
    }

    &__contact-item:not(:last-child) {
        margin-bottom: 20px;
    }

    &__contact-item p:not(:last-child) {
        margin-bottom: 4px;
    }

    &__title {
        margin-bottom: 25px;
        padding-top: 15px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: $wine;

        @extend %DMSans-700;
    }

    &__link {
        font-size: 14px;
        line-height: 32px;
    }

    &__text {
        margin-bottom: 35px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        padding: 12px 15px;
        width: 100%;
        max-width: 170px;
        border: none;
        background-color: $pink;

        &::placeholder {
            font-size: 12px;
            color: $cello;

            @extend %DMSans-400;
        }
    }

    &__form-btn {
        padding: 12px 18px;
        border: none;
        color: $white;
        background-color: $casper;

        &:hover {
            background-color: $bali;
        }

        @extend %DMSans-400;
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    &__copy {
        font-size: 14px;
        line-height: 32px;
        color: $dusty;
    }

    &__nav {
        display: flex;
        line-height: 1;
    }

    &__item:not(:last-child) {
        padding-right: 15px;
    }

    &__item:not(:first-child) {
        padding-left: 15px;
        border-left: 1px solid $boulder;
    }

    &__link {
        padding: 10px;
        font-size: 14px;
        color: $grey;
    }
}

@import "media";