@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.top {
    padding: 30px 0 25px;
    text-align: center;
    background-color: #edf1f4;

    &__title {
        padding-bottom: 10px;
        font-size: 36px;
        color: #222933;

        @extend %rubik-300;
    }
}

.modal {
    margin: 0 auto 120px;
    padding-top: 110px;
    max-width: 470px;

    &__label {
        display: block;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 20px;
        color: $accent-light;
    }

    &__input {
        display: block;
        margin-top: 4px;
        padding: 0 15px;
        width: 100%;
        height: 60px;
        border: 2px solid #f6f6f6;
    }

    &__btn {
        display: block;
        margin-top: 37px;
        margin-bottom: 25px;
        padding: 14px 0;
        width: 100%;
        border: none;
        font-size: 18px;
        color: #fff;
        background-color: $btn;
        cursor: pointer;

        @extend %rubik-500;
    }

    &__form-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        padding-bottom: 20px;
        border-bottom: 2px solid #f6f6f6;
        color: $accent-light;
    }

    &__error {
        color: inherit;
    }

    &__links {
        text-align: center;
    }

    &__link {
        display: block;
        margin-bottom: 10px;
        color: $accent-light;
    }

    &__link-btn {
        display: block;
        padding: 20px 0;
        border: 2px solid $btn;
        font-size: 18px;
        line-height: 1;
        color: $accent;

        @extend %rubik-500;
    }
}

.promo {
    &__wrapper {
        background-image: url(../images/promo-bg.jpg);
        background-position: left;
        background-size: 50%;
        background-repeat: no-repeat;
    }

    &__inner {
        margin: 120px 0;
        margin-left: auto;
        padding: 85px 0 98px 50px;
        width: 50%;
        color: $accent;
    }

    &__subtitle {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
    }

    &__subtitle-num {
        font-size: 140px;
        line-height: 140px;
        color: $btn;

        @extend %rubik-700;
    }

    &__subtitle-inner {
        margin-left: 20px;
        padding-bottom: 15px;
    }

    &__title {
        margin-bottom: 40px;

        @extend %dmsans-700;
    }

    &__text {
        margin-bottom: 40px;
        padding-bottom: 50px;
        border-bottom: 2px solid #ebeef3;
    }

    &__num-list {
        display: flex;
        align-items: center;
    }

    &__num-box {
        display: flex;
        padding-left: 60px;

        &:nth-child(1) {
            padding-left: 0;
        }
    }

    &__num-item {
        padding-left: 15px;
        font-size: 36px;

        p {
            font-size: 16px;
            color: #4c4c4c;
        }

        @extend %dmsans-700;
    }
}

.numbers {
    padding: 85px 0 75px;
    background-color: $bg;

    &__list {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }

    &__item {
        text-align: center;
        color: $accent;

        &-img {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 0 auto;
            height: 64px;
            max-width: 67px;

            &::after {
                content: "";
                position: absolute;
                right: -8px;
                bottom: 3px;
                z-index: -1;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: $btn;
            }
        }

        &-nmb {
            padding-top: 20px;
            font-size: 36px;

            @extend %dmsans-700;
        }

        p {
            padding-top: 15px;
            font-size: 18px;
        }
    }
}

.team {
    padding: 120px 0 110px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        margin-right: 10px;
        max-width: 300px;
    }

    &__title {
        margin-top: 0;
        padding-bottom: 25px;
        text-align: left;
    }

    &__text {
        padding-bottom: 65px;
        color: $accent;
    }

    &__link {
        padding: 15px 25px 15px 15px;
        border-radius: 5px;
        color: #fff;
        background-color: $btn;

        svg {
            margin-left: 15px;
        }

        @extend %poppins-700;
    }

    &__items {
        display: grid;
        grid-gap: 40px 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__item {
        position: relative;
        box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);

        &-box {
            position: relative;
            width: 100%;
            max-width: 320px;
        }

        &-link--instagram {
            right: 75px;
            background-image: url(../images/icons/instagram.svg);
        }

        &-link--google {
            right: 25px;
            background-image: url(../images/icons/google.svg);
        }

        &-img {
            background-color: #fff;
        }

        &-title {
            position: absolute;
            left: 0;
            bottom: 57px;
            padding-top: 20px;
            padding-left: 25px;
            width: 100%;
            max-width: 325px;
            font-size: 22px;
            color: $accent;
            background-color: #fff;

            @extend %dmsans-700;
        }

        &-subtitle {
            padding: 5px 0 25px 25px;
            color: #565872;
        }

        &-link--instagram,
        &-link--google {
            position: absolute;
            bottom: 30px;
            display: block;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.terms {
    padding: 55px 0 100px;
    color: $accent;

    &__title {
        padding-top: 60px;
        font-size: 24px;

        @extend %rubik-500;
    }

    &__item {
        margin-left: 30px;
        padding-top: 15px;
        padding-left: 5px;
        list-style-type: decimal-leading-zero;
    }

    &__text {
        padding-top: 10px;
    }
}

.products {
    padding: 120px 0;

    &__inner {
        display: flex;
    }

    &__filter {
        margin-right: 30px;
        min-width: 270px;
    }

    &__filter-btn {
        display: none;
    }
}

.filter {
    &__item {
        margin-bottom: 60px;
    }

    &__filter-head {}

    &__title {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
        color: $accent;

        @extend %dmsans-700;
    }

    &__title-line {
        display: inline-block;
        margin-bottom: 5px;
        width: 38px;
        height: 3px;
        background-color: $btn;
    }
}

.filter-category {
    &__label {
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input {
        &:checked + .filter-category__checkbox {
            border-radius: 5px;
            background-color: #edf1f4;
        }

        @extend %checkbox-hidden;
    }

    &__checkbox {
        padding: 10px 20px 10px 15px;
        color: $accent;
        background: transparent;
    }

    &__text {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 10px;
            z-index: 5;
            width: 5px;
            height: 10px;
            background-image: url(../images/icons/arrow-right.svg);
        }
    }
}

.filter-price {
    &__text {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 1;
        color: $accent;
    }
}

.irs--flat .irs-line {
    top: 9px;
    height: 3px;
    border-radius: 0;
    background-color: #c2d2db;
}

.irs--flat .irs-handle {
    top: 3px;
    width: 15px;
    height: 15px;
    background-color: $btn;
}

.irs--flat .irs-handle > i:first-child {
    display: none;
}

.irs--flat .irs-bar {
    top: 9px;
    height: 4px;
    background-color: $btn;
}

.irs-from,
.irs-to,
.irs-single {
    display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none;
}

.irs--flat {
    height: 30px;
}

.filter-brand {
    &__label {
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input {
        &:checked + .filter-brand__checkbox {
            border-radius: 5px;
            color: $accent;
            background-color: #edf1f4;
        }

        @extend %checkbox-hidden;
    }

    &__checkbox {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 15px;
        color: #b3b3b3;
        background: transparent;

        &-text {
            color: $accent;
        }
    }
}

.product__item-star {
    display: none;
}

.filter-recent {
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        width: 70px;
        height: 70px;
        border: 3px solid #f2f2f2;
    }

    &__item {
        display: flex;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 22px;
        color: #333;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        padding-bottom: 5px;
    }

    &__price {
        padding-top: 5px;
        font-size: 15px;
    }
}

.jq-ry-container {
    padding: 0;
}

.products-content {
    width: 100%;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &.products-content__inner--list {
            display: block;

            .product__item--list {
                width: 100%;
            }
        }
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        padding: 20px 25px 20px 30px;
        border: 1px solid #ececec;
    }


    &__filter-buttons {
        display: flex;
        align-items: center;
    }

    &__filter-btn {
        margin-left: 15px;
        padding: 0;
        outline: none;
        border: none;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;

        &.products-content__filter-btn--active {
            path {
                fill: $accent;
            }
        }
    }

    .product__item {
        margin-bottom: 40px;
        width: 270px;
    }
}

.jq-selectbox__select {
    margin-left: 30px;
    padding: 0 30px 0 0;
    height: 32px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: $default;
    background: transparent;

    &:hover {
        background: transparent;
    }
}

.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 10px;
    height: 5px;
    border: none;
    background-image: url(../images/icons/angle-down.svg);
}

.product-page {
    padding: 120px 0;
}

.product-one {
    &__inner {
        display: flex;
    }

    &__slide {
        margin-right: 70px;
        width: 550px;
    }

    &__content {
        width: 550px;
    }

    &__title {
        margin-bottom: 25px;
        font-size: 40px;
        color: #333;
    }

    &__price {
        margin-bottom: 30px;
        font-size: 30px;
        color: #333;
    }

    &__item-star {
        margin-bottom: 40px;
    }

    &__item-text {
        margin-bottom: 30px;
        color: $accent;
    }

    &__item-btn {
        margin-bottom: 50px;
        margin-left: 15px;
        padding: 20px 50px;
        border: none;
        border-radius: 5px;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
        background-color: $btn;
        cursor: pointer;
    }
}

.product-info {
    &__item {
        display: flex;
        color: $accent;
    }

    &__title {
        margin-right: 5px;
    }
}

.product-slide {
    display: flex;

    .slick-vertical .slick-slide {
        margin-bottom: 20px;
        height: 160px;
    }

    .slick-list {
        height: auto !important;
    }

    &__thumb {
        margin-right: 30px;
        width: 135px;
    }

    &__thumb-item {
        border: 2px solid #f2f2f2;
        cursor: pointer;

        img {
            width: 135px;
            height: 160px;
            object-fit: cover;
        }
    }

    &__big {
        width: 385px;
        height: 525px;
        border: 2px solid #f2f2f2;

        img {
            object-fit: cover;
        }
    }
}

.jq-number__field {
    width: 150px;
    border: 1px solid $btn;
}

.jq-number__field input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    text-align: center;
    color: $accent;
}

.jq-number {
    position: relative;
    padding: 0;
}

.jq-number__spin {
    position: absolute;
    width: 50px;
    height: 53px;
    border: 1px solid $btn;
    cursor: pointer;
}

.jq-number__spin.minus {
    left: 0;
    top: 0;
    bottom: 0;
}

.jq-number__spin.plus {
    right: 0;
    top: 0;
    bottom: 0;
}

.jq-number__spin::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 1px;
    background-color: $accent;
    transform: translateX(-50%);
}

.jq-number__spin.plus::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 8px;
    background-color: $accent;
    transform: translateY(-50%);
}

.product-tabs {
    padding: 90px 0 0;

    &__top {
        text-align: center;
    }

    &__top-item {
        display: inline-block;
        margin-bottom: 35px;
        padding: 15px 0;
        width: 240px;
        border-radius: 5px;
        font-size: 18px;
        text-align: center;
        color: $accent;
        background-color: #edf1f4;

        & + .product-tabs__top-item {
            margin-left: 20px;
        }

        @extend %rubik-500;
    }

    &__top-item--active {
        color: #fff;
        background-color: $btn;
    }

    &__content-item {
        display: none;

        &.product-tabs__content-item--active {
            display: block;
        }
    }
}

.descr {
    color: $accent;
}

.related {
    margin-bottom: 110px;

    &__top {
        margin-bottom: 70px;
    }

    &__title {
        margin-top: 0;
        text-align: left;
    }

    &__items {
        .product__item {
            display: inline-flex !important;
            height: 380px;
            max-width: 270px;
        }
    }

    .slick-arrow {
        position: absolute;
        top: -110px;
        width: 50px;
        height: 50px;
        outline: none;
        border: 2px solid $btn;
        border-radius: 5px;
        font-size: 0;
        background: transparent;
        background-position: center center;
        background-repeat: no-repeat;

        &.slick-disabled {
            border: 2px solid #edf1f4;
        }
    }

    .slick-next {
        right: 0;
        background-image: url(../images/icons/related-arrow-right.svg);
    }

    .slick-prev {
        right: 70px;
        background-image: url(../images/icons/related-arrow-left.svg);
    }
}

.blog-page {
    padding: 120px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__contet {
        margin-right: 70px;
    }

    &__aside {
        width: 100%;
        max-width: 270px;
    }

    &__item {
        margin-bottom: 50px;
        max-width: 830px;
    }

    &__item-img {
        width: 830px;
        height: 500px;
        object-fit: cover;
    }

    &__item-title {
        padding: 40px 0 30px;
        font-size: 36px;
        color: #333;
    }

    &__item-text {
        margin-bottom: 30px;
        color: $accent;
    }

    &__item-more {
        position: relative;
        display: block;
        padding: 20px;
        width: 180px;
        border: 1px solid $btn;
        font-size: 16px;
        color: $btn;

        &::after {
            content: "";
            position: absolute;
            right: 20px;
            top: 50%;
            width: 22px;
            height: 9px;
            background-image: url(../images/icons/arrow.svg);
            transform: translateY(-50%);
        }
    }

    &__item-box {
        position: relative;
    }

    .pagination {
        justify-content: start;
        padding-top: 25px;
    }
}

.blog-box {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 30px 20px;
    width: 275px;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
    color: #fff;
    background-color: $btn;

    &__date {
        margin-right: 30px;

        &::before {
            background-image: url(../images/icons/calendar-white.svg);
        }
    }

    &__author {
        &::before {
            background-image: url(../images/icons/user-article-white.svg);
        }
    }

    &__date,
    &__author {
        position: relative;
        padding-left: 20px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 10pt;
            height: 11pt;
            background-position: center center;
        }
    }
}

.filter-search {
    &__form {
        display: flex;
    }

    &__input {
        padding: 0 10px;
        width: 220px;
        height: 40px;
        border: 1px solid #edf1f4;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 40px;
        border: none;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #edf1f4;
        cursor: pointer;
    }
}

.recent-post {
    &__item {
        display: flex;
        margin-bottom: 20px;
    }

    &__item-img {
        height: 70px;
        min-width: 70px;
        object-fit: cover;
    }

    &__item-title {
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 20px;
        color: #333;
    }

    &__item-box {
        margin-left: 20px;
    }

    &__item-date {
        font-size: 12px;
        text-transform: uppercase;
        color: #9a9a9a;

        svg {
            margin-right: 3px;
        }
    }
}

.blog-one {
    &__content {
        max-width: 830px;
    }

    &__item {
        h2 {
            margin: 30px 0 25px;
            font-size: 36px;
            color: #333;
        }

        h3 {
            padding-top: 25px;
            font-size: 18px;
            color: $accent;
        }

        h4 {
            margin: 25px 0 15px;
            color: $accent;

            @extend %rubik-500;
        }

        p {
            margin: 30px 0;
            color: $accent;
        }

        blockquote {
            margin-bottom: 45px;
            padding: 15px 35px;
            border-left: 6px solid $btn;
            color: $accent;
            background-color: #edf1f4;

            div {
                position: relative;
                padding-left: 40px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 14px;
                    width: 20px;
                    height: 2px;
                    background-color: $btn;
                }
            }
        }
    }

    &__left-img {
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
        width: 320px;
        height: 210px;
        object-fit: cover;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 60px 0;
        padding: 25px 20px 25px 0;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }

    &__author {
        display: flex;
        align-items: center;
    }

    &__author-img {
        margin-right: 30px;
    }

    &__author-name {
        color: #333;

        @extend %rubik-500;
    }

    &__author-position {
        color: #666;
    }

    &__tags {
        span {
            margin-right: 30px;
            color: #333;
        }
    }

    &__share {
        span {
            color: #333;
        }

        a {
            margin-left: 20px;
        }
    }
}

.comments {
    display: flex;
    margin-bottom: 30px;

    &-title {
        margin: 60px 0;
        font-size: 24px;
        line-height: 1;
        color: $accent;

        @extend %rubik-700;
    }

    &__img {
        margin-right: 30px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    &__content {
        padding-bottom: 25px;
        border-bottom: 1px solid #e0e0e0;
    }

    &__content-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        line-height: 1;
    }

    &__content-name {
        color: $accent;

        @extend %rubik-700;
    }

    &__content-text {
        margin-bottom: 10px;
    }

    &__content-reply {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: -20px;
            top: 2px;
            width: 12px;
            height: 13px;
            background-image: url(../images/icons/arrow-right-blog.svg);
        }
    }

    &:last-child {
        margin-bottom: 90px;

        .comments__content {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &.comments--replied {
        margin-left: 130px;
        border-bottom: 1px solid #e0e0e0;

        .comments__content {
            border-bottom: none;
        }
    }

    &__content-text,
    &__content-reply {
        color: #565872;
    }
}

.comments-form {
    &__title {
        margin-bottom: 45px;
        font-size: 24px;
        color: $accent;

        @extend %rubik-700;
    }

    &__box-input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__text-input {
        position: relative;
        padding: 5px 50px 5px 20px;
        width: 100%;
        max-width: 400px;
        outline: none;
        border: 1px solid #e5e5e5;
        color: #333;
        background-position: right 20px center;
        background-repeat: no-repeat;

        &:focus {
            border: 1px solid $btn;
        }

        &--user {
            background-image: url(../images/icons/blog-user.svg);
        }

        &--mail {
            background-image: url(../images/icons/sms-blog.svg);
        }
    }

    &__textarea {
        margin-bottom: 30px;
        padding: 5px 50px 5px 20px;
        width: 100%;
        height: 120px;
        border: 1px solid #e5e5e5;
        background-image: url(../images/icons/text-blog.svg);
        background-position: right 20px top 20px;
        background-repeat: no-repeat;
        resize: none;

        &:focus {
            outline: none;
            border: 1px solid $btn;
        }
    }

    &__btn {
        padding: 15px 30px;
        border: none;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
        background-color: $btn;
        cursor: pointer;
    }
}

.contact {
    padding: 120px 0;

    &__subtitle {
        text-align: center;
        color: $btn;

        @extend %poppins-700;
    }

    &__title {
        margin-bottom: 60px;
        font-size: 35px;
        line-height: 57px;
        text-align: center;
        color: $accent;

        @extend %dmsans-700;
    }

    ul.contact__info-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    &__info-item {
        padding: 70px 0;
        width: 100%;
        max-width: 370px;

        &:hover {
            border: 1px solid $btn;

            .contact__info-icon {
                background-color: $btn;
            }

            svg {
                .cls-1 {
                    fill: #fff;
                }
            }
        }
    }

    &__info-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 60px;
        width: 80px;
        height: 80px;
        border-radius: 20px;
        box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);
        text-align: center;
    }

    &__info-title {
        padding-bottom: 15px;
        font-size: 20px;
        text-align: center;
        color: #222;

        @extend %dmsans-700;
    }

    &__info-text {
        text-align: center;
        color: #565872;

        a {
            color: inherit;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }
}

.contact-form {
    width: 100%;
    max-width: 620px;

    &__box-input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__text-input {
        position: relative;
        padding: 9px 50px 9px 20px;
        width: 100%;
        max-width: 300px;
        border: none;
        color: #565872;
        background-position: right 20px center;
        background-repeat: no-repeat;
        background-color: #fafafa;

        &::placeholder {
            text-transform: uppercase;
        }

        &--user {
            background-image: url(../images/icons/blog-user.svg);
        }

        &--mail {
            background-image: url(../images/icons/sms-blog.svg);
        }
    }

    &__textarea {
        margin-bottom: 30px;
        padding: 9px 50px 9px 20px;
        width: 100%;
        height: 175px;
        border: none;
        color: #565872;
        background-image: url(../images/icons/text-blog.svg);
        background-position: right 20px top 20px;
        background-repeat: no-repeat;
        background-color: #fafafa;
        resize: none;

        &::placeholder {
            text-transform: uppercase;
        }
    }

    &__btn {
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
        background-color: $btn;
        cursor: pointer;
    }
}

#map {
    width: 100%;
    height: 335px;
    max-width: 500px;
}

@import "media";